html,
body {
  margin: 0px;
  padding: 0px;
}
canvas {
  border: solid 1px black;
  margin: auto;
}

#pixi-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

#fps {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.slider {
  width: 100%;
}
